*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    background: #17191C;
}

ul li {
    list-style: none;
}


.button {
    text-transform: uppercase;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


/*header - start*/

.header {
    margin-bottom: 80px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}

.menu {
    margin: auto;
}

.menu__list {
    display: flex;
}

.menu__item {
    padding-right: 54px;
}

.menu__link {
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    transition: all .5s;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts__phone {
    font-size: 26px;
    line-height: 35px;
    color: #fff;
    text-decoration: none;
}

.contacts__info {
    font-size: 13px;
    line-height: 20px;
    text-decoration: underline;
    position: relative;
    color: #FF3D00;
    text-align: right;
    margin: 0;
}

.schedule__wrap {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.schedule__wrap:hover {
    cursor: pointer;
}

.schedule__wrap:hover .dropdown {
    
    opacity: 0.8;
}

.dropdown {
    padding: 15px 20px 15px;
    background: #fff;
    opacity: 0.8;
    border-radius: 5px;
    color: #000;
    position: absolute;
    top: 92px;
    text-align: right;
    
    opacity: 0;
    transition: opacity 1s;
}

.dropdown::after {
    content: "";
    position: absolute;
    border: 15px solid transparent;
    border-bottom-color: #fff;
    border-top-width: 0;
    top: -11px;
    right: 35px;
}

.dropdown::before {
    content: "";
    height: 32px;
    width: 100%;
    position: absolute;
    top: -30px;
    left: 0;
}

.dropdown__days {
    font-weight: 700;
    padding-bottom: 8px;
}



/*header - end*/

/*hello - start*/


.hello {
    text-align: center;
    margin-bottom: 200px;
}

.hello__title {
    margin: auto;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    color: #fff;
    width: 776px;
    margin-bottom: 17px;
}

.hello__subtitle {
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 44px;
}

.button {
    padding: 18px 54px;
    background-color: #FF3D00;
    border-radius: 35px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    transition: all .5s;
}

.button:hover {
    background-color: #FF5500;
}

/*hello - end*/

/*offers - start*/

.offers {
    margin-bottom: 100px;
}

.offers__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.offer__item {
    border-radius: 5px;
    display: inline-block;
    height: 484px;
    background: #fff;
    margin-right: 27px
}

.offer__img {
    padding: 36px 249px 30px 30px;
}

.offer__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    padding-left: 30px;
    color: #000;
    margin-bottom: 17px;
    margin-top: 15px;
}

.offer__text {
    font-size: 14px;
    line-height: 22px;
}

.offer__features {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 34px;
}

.features__text {
    font-size: 16px;
    line-height: 125%;
}

.features {
    font-weight: 700;
    color:#000;
}

.offer__text {
    max-width: 316px;
    margin-top: 25px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 29px;
}

.button--light {
    background-color: #fff;
    display: inline-block;
    margin-top: 5px;
    margin-left: 30px;
    border: 2px solid #FF5500;
    color: #FF5500;
    transition: all .5s;
}

.button--light:hover {
    background-color: #FF5500;
    color: #fff;
}

/*offers - end*/

/*news - start*/

.news__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: #fff;
    margin-bottom: 50px;
}

.news__list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 53px;

}

.news__item {
    margin-right: 25px;
    position: relative;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 31px;
    padding-bottom: 26px;
    width: 487px;
}

.news__item-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
}

.news__item-title {
    margin-top: 12px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

.news__item-text {
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
}

.pagination {
    text-align: center;
    margin-bottom: 124px;
}

.pagination__info, .pagination__list {
    display: inline-block;
    vertical-align: middle;
}

.pagination__info {
    color: #fff;
    margin-right: 23px;
}

.pagination__item {
    display: inline-block;
    vertical-align: middle;
}

.pagination__item-active .pagination__link {
    background: #FF5500;
}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    line-height: 32px;
}

/* news - end */

/*about - start*/

.about__wrapper::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url(../images/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about__content {
    background: #fff;
    padding: 70px 70px 78px;
    display: inline-block;
    vertical-align: top;
    width: 772px;
    height: 455px;
    margin-left: -127px;
    margin-top: 84px;
    margin-bottom: 53px;
}

.about__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 37px;
    color: #060606;
    margin-top: 0;
    text-transform: uppercase;
}

.about__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #060606;
    margin-bottom: 53px;
    width: 494px;
}

/*about - end*/


/*footer - start */ 


.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    border-top: 1px solid rgba(255, 255, 255, 0.274);
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__contacts-info {
    font-size: 11px;
    line-height: 20px;
    margin-left: 73px;
    margin-bottom: 6px;
}

.contacts__phone-footer{
    margin-left: 46px;
    font-size: 26px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
}

.social {
    padding-right: 74px;
    display: flex;
    justify-content: space-between;
}

.social__link-tg {
    width: 36px;
    height: 36px;
    
    padding: 10px;
    border-radius: 50%;
    position: relative;
    margin-right: 11px;
}

.social__link-tg::after {
    content: '';
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 36px; height: 36px;
   background: url(../images/css_sprites.png) -10px -66px;
   transition: .3s;
}

.social__link-tg:hover:before {
    opacity: 1;
}

.social__link-tg:hover:after {
    opacity: 0;
}

.social__link-tg::before {
    content: '';
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 36px; height: 36px;
   background: url(../images/css_sprites.png) -122px -10px;
   opacity: 0;
   transition: .3s;
}

.social__link-vk {
    width: 36px;
    height: 36px;
    
    padding: 10px;
    border-radius: 50%;
    position: relative;
    margin-right: 11px;
}

.social__link-vk::after {
    content: '';
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 36px; height: 36px;
   background: url(../images/css_sprites.png) -66px -66px;
   transition: .3s;
}

.social__link-vk:hover:before {
    opacity: 1;
}

.social__link-vk:hover:after {
    opacity: 0;
}

.social__link-vk::before {
    content: '';
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 36px; height: 36px;
   background: url(../images/css_sprites.png) -10px -122px;
   opacity: 0;
   transition: .3s;
}

.social__link-fb {
    width: 36px;
    height: 36px;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    margin-right: 11px;
}

.social__link-fb::after {
    content: '';
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 36px; height: 36px;
   background: url(../images/css_sprites.png) -10px -10px;
   transition: .3s;
}

.social__link-fb:hover:before {
    opacity: 1;
}

.social__link-fb:hover:after {
    opacity: 0;
}

.social__link-fb::before {
    content: '';
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 36px; height: 36px;
   background: url(../images/css_sprites.png) -122px -66px;
   opacity: 0;
   transition: .3s;
}

.social__link-in {
    width: 36px;
    height: 36px;
    padding: 10px;
    border-radius: 50%;
    position: relative;
}

.social__link-in::after {
    content: '';
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 36px; height: 36px;
   background: url(../images/css_sprites.png) -66px -10px;
   transition: .3s;
}

.social__link-in:hover:before {
    opacity: 1;
}

.social__link-in:hover:after {
    opacity: 0;
}

.social__link-in::before {
    content: '';
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 36px; height: 36px;
   background: url(../images/css_sprites.png)  -66px -122px;
   opacity: 0;
   transition: .3s;
}



.menu__item {
    transition: all .5s;
}

.menu__item:hover {
    color: #FF3D00;
}

/*footer - end*/

.main-page-wrapper {
    background: url(../images/hero.png) center top no-repeat, url(../images/bottom-pic.png) bottom 307px center no-repeat;
}

