.service-wrapper {
    background: #fff;
}

.top__line {
    min-height: 415px;
    display: flex;
    background-image: url(../images/top-line.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 25px;
    margin-bottom: 94px;
}

.top__line-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page__title {
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 83px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item-active .breadcrumbs__link {
    font-weight: 700;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
    line-height: 19px;
}

.page__content {
    background: #fff;
    color: #303030;
}


.services {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.services__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 62px;
}

.services__img {
    padding: 0;
}


.services__content {
    flex: 1;
    margin-left: 56px;
}

.services__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #000;
}

.services__desc {
    font-size: 16px;
    line-height: 27px;
    color: #303030;
    width: 622px;
    margin-bottom: 22px;
}

.button--light-services {
    background-color: #fff;
    display: inline-block;
    margin-top: 5px;
    border: 2px solid #FF5500;
    color: #FF5500;
    transition: all .5s;
}

.button--light-services:hover {
    background-color: #FF5500;
    color: #fff;
}

.inner__section {
    background: #fff;
    color: #1A1B1E;
    padding: 85px 0;
}

.inner__setction-bg-grey {
    background: #F4F5F5;
}

.inner__section-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 82px;
}

.service-info {
    color: black;
}

.service-active {
    color: #fff;
}

.service-pagination {
    color: black;
}

.partner__link {
    text-decoration: none;
    display: flex;
    width: 249px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
    filter: grayscale(100%);
    transition: all .5s;
}

.partner__link:hover {
    filter: grayscale(0%);

}

.partners__list {
    display: flex;
    flex-wrap: wrap;
}

.partner__item {
    margin-left: 48px;
}

.partner__item:nth-child(4n + 1) {
    margin-left: 0;
}

.inner__footer {
    background: #17191C;
}